/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: rgb(180, 84, 140);
    color: white;
    font-weight: bolder;
    font-size: 20px;

}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: rgb(184, 17, 142);
}

li a .active {
    /*  */
    background-color: rgb(4, 15, 78);
}
h2{ 
     text-align: center;
}
p{
    text-align: center;
}
p{
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}
form{
    text-align: center;
}
fieldset{
    border: solid 10px whitesmoke;
    padding: 20px;
    display:inline-block;  
}
p1{
    text-align: center;
    font-size: 30px;
    font: bold;
    font: italic;
    font-family: cursive;
}
*{
    color: purple;
    font: italic;
}
p4{
    border-top-right-radius:50%;
}
img {
    border-radius: 50%;
  }
 p3{
     font-style: italic;
     font-size: 30px;
     font-weight: bold;
     font-family: cursive;
     text-align: left;
 } 
 h2{
     font-size: x-large;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
 }

 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 3px solid #070707;
    border-radius: 100px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 100px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 100px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 100px;
  }

  .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 100px;
}