/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: rgb(180, 84, 140);
    color: white;
    font-weight: bolder;
    font-size: 20px;

}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: rgb(184, 17, 142);
}

li a .active {
    /*  */
    background-color: rgb(4, 15, 78);
}
h2{ 
     text-align: center;
}
p{
    text-align: center;
}
p{
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}
form{
    text-align: center;
}
fieldset{
    border: solid 10px whitesmoke;
    padding: 20px;
    display:inline-block;  
}
p1{
    text-align: center;
    font-size: 30px;
    font: bold;
    font: italic;
    font-family: cursive;
}
*{
    color: purple;
    font: italic;
}
p4{
    border-top-right-radius:50%;
}
img {
    border-radius: 96px
  }
 p3{
     font-style: italic;
     font-size: 30px;
     font-weight: bold;
     font-family: cursive;
     text-align: left;
 } 
 h2{
     font-size: x-large;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
 }

 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 3px solid #070707;
    border-radius: 100px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 100px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 100px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(238, 141, 225);
    color: white;
    transform: rotateY(180deg);
    border-radius: 100px;
  }

  .container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 100px;
    color: whitesmoke;
}

<<<<<<< HEAD
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
=======
.hobby{
    padding-block: 14px 16px; 
    display: block;
    
}
>>>>>>> 6acebd370543516bd8480e5386f2e4d4aae043cc
